<!--========================== About Section Start ==========================-->
<div class="about-section pt-80 pb-100">
    <div class="container">
        <div class="row flex-wrap-reverse align-items-center gy-4">

            <div class="col-lg-6 position-relative">
                <div class="about-thumb">
                    <div class="about-thumb__inner">
                        <div class="shape"></div>
                        <img class="img-2" src="assets/images/about/about_image_1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 position-relative">
                <div class="about-right-content">
                     <div class="section-title mb-0">
                        <span class="subtitle">About us</span>
                         <h2 class="section-heading__title"> 
                            Best For Your Start-Up Creative Agency
                         </h2>
                         <p class="section-heading__desc mb-4 " style="width: 100%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique massa erat, sed pellentesque neque tincidunt rhoncus. Phasellus pulvinar, mauris nec consectetur pulvinar, dolor est rutru</p>

                        <ul class="about-service mb-4">
                            <li>
                                <span><i class="fa-solid fa-circle-check"></i> Clients Focused</span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-circle-check"></i> After Sales support.</span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-circle-check"></i> We Can Save Your Money.</span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-circle-check"></i> We Can Save Your Money.</span>
                            </li>
                        </ul>

                         <div class="about-bottom">
                            <a href="about.html" class="btn btn--base pill me-3 mb-2">
                                View More <i class="fa-sharp fa-solid fa-arrow-right"></i>
                            </a>
                         </div>
                     </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--========================== About Section End ==========================-->