<!-- ==================== Accordion Start Here ==================== -->
<section class="accordion-area section-bg py-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading text-center">
                    <span class="subtitle">FAQ</span>
                    <h2 class="section-heading__title "> 
                      Frequently Asked Question.
                    </h2>
                    <p class="section-heading__desc">Data transfer capacity has generally been inconsistent dispersed around the world, with expanding focus in the advanced age just 10 nations
                        have facilitated .</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <div class="about-thumb__inner">
                        <img src="assets/images/faq/faq-bg.jpg" alt="image">
                    </div>
                </div>
             </div>
            <div class="col-lg-6">
                <div class="accordion custom--accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           1. Custom software development services ?
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes, we offer custom software development services tailored to the specific needs of our clients. We work closely with our clients to understand their requirements and develop solutions that meet their unique needs.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           2. How long does it take to develop software?
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes, we offer custom software development services tailored to the specific needs of our clients. We work closely with our clients to understand their requirements and develop solutions that meet their unique needs.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           3. How much does it cost to develop software?
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes, we offer custom software development services tailored to the specific needs of our clients. We work closely with our clients to understand their requirements and develop solutions that meet their unique needs.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFoure">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">
                            4. What kind of industries do you work with?
                        </button>
                      </h2>
                      <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Yes, we offer custom software development services tailored to the specific needs of our clients. We work closely with our clients to understand their requirements and develop solutions that meet their unique needs.
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Accordion End Here ==================== -->