<!--========================== Banner Section Start ==========================-->
<section class="banner-area">
  <img src="assets/images/banner/rectangle-1.png" class="this-bg">
  <div class="container">
      <div class="banner-content-img">
          <div class="section-title">
              <span class="subtitle">WELCOME TO PARADOX</span>
              <h1>Turning Your Idea <br>
                Into Reality</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique massa erat, sed pellentesque neque tincidunt rhoncus. Phasellus pulvinar, mauris nec consectetur pulvinar, dolor est rutru</p>
              <a href="#" class="btn btn--base pill">Start Corporation <i class="fa-solid fa-arrow-down-long"></i></a>
              <a href="#" class="btn btn--base outline pill">Start Corporation <i class="fa-solid fa-arrow-down-long"></i></a>
          </div>
          <div class="img">
              <div class="shapes"></div>
              <img src="assets/images/banner/right-man.png" alt="">  
          </div>
      </div>
  </div>
</section>
<!--========================== Banner Section End ==========================-->