<!-- ============================= Blog Details Sidebar Start ======================== -->
<div class="blog-sidebar-wrapper">
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Search </h5>
        <form action="#" autocomplete="off">
            <div class="search-box w-100">
                <input type="text" class="form--control" placeholder="Search...">
                <button type="submit" class="search-box__button"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Hot Topics</h5>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-1.jpg" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Sound Everyday Rutine For Your Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">June 23 202</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-2.jpg" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">June 23 202</span>
            </div>
        </div>
        <div class="latest-blog">
            <div class="latest-blog__thumb">
                <a href="blog-details.html"> <img src="assets/images/blog/blog-3.jpg" alt=""></a>
            </div>
            <div class="latest-blog__content">
                <h6 class="latest-blog__title"><a href="blog-details.html">Lorem ipsum dolor sit amet.</a></h6>
                <span class="latest-blog__date">June 23 202</span>
            </div>
        </div>
    </div>
    <div class="blog-sidebar">
        <h5 class="blog-sidebar__title"> Categories </h5>
        <ul class="text-list style-tag">
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Technology </a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link active">Gallery</a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Web</a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Dash </a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Vertcoin </a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Service </a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Monacoin </a></li>
            <li class="text-list__item"><a href="blog.html" class="text-list__link">Aeternity </a></li>
        </ul>
    </div>
</div>
<!-- ============================= Blog Details Sidebar End ======================== -->