<!--========================== Coverage Section Start ==========================-->

<section class="brand-area">
    <div class="container">
        <div class="all-item">
            <div class="single-item">
                <img src="assets/images/brands/client_logo_1.png">
            </div>
            <div class="single-item">
                <img src="assets/images/brands/client_logo_2.png">
            </div>
            <div class="single-item">
                <img src="assets/images/brands/client_logo_3.png">
            </div>
            <div class="single-item">
                <img src="assets/images/brands/client_logo_4.png">
            </div>
            <div class="single-item">
                <img src="assets/images/brands/client_logo_5.png">
            </div>
        </div>
    </div>
</section>

<!--========================== Coverage Section End ==========================-->