<!--========================== Coverage Section Start ==========================-->
<div class="client pb-60 ">
    <div class="container">
        <div class="client-logos client-slider">
            <img src="assets/images/2__brands/client-01.png" alt="">
            <img src="assets/images/2__brands/client-02.png" alt="">
            <img src="assets/images/2__brands/client-03.png" alt="">
            <img src="assets/images/2__brands/client-04.png" alt="">
            <img src="assets/images/2__brands/client-05.png" alt="">
            <img src="assets/images/2__brands/client-06.png" alt="">
            <img src="assets/images/2__brands/client-03.png" alt="">
        </div>
    </div>
</div>
<!--========================== Coverage Section End ==========================-->