<!-- ==================== Footer Start Here ==================== -->

<footer class="footer-area">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <img src="assets/images/footer/site_logo_white 1.png">
                <h5 style="margin-top: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit harum officia deserunt suscipit</h5>
            </div>
            <div class="contract">
                <h4 class="title">Contract Us</h4>
                <h5>If you want to Get a New Idea: <br> contract@paradox.com</h5>
            </div>
            <div class="find-us">
                <h4 class="title">Find Us</h4>
                <i class="fa-solid fa-location-dot fa-flip location"></i>
                <h5>1989 Timber Ridge Road <br>
                    Sacramento CA, California</h5>
            </div>
            <div class="news-letter">
                <h4 class="title">News Letter</h4>
                <input type="email" placeholder="Email Addrase" class="input-text">
                <button class="enter-button"><i class="fa-solid fa-arrow-right-long go"></i></button>
                <input type="radio" id="chek-out">
                <label for="chek-out">Chek me out</label>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-txt">
            <h4>Copyright © 2023 by Bdevs All Rights Reserved.</h4>
        </div>
        <div class="footer-go-top">
            <i class="fa-solid fa-angle-up fa-bounce up"></i>
        </div>
    </div>
</footer>