<!-- ================ Get Started Here ================== -->

<section class="get-started">
    <div class="container">
        <div class="started-img-content">
            <div class="section-title">
                <span class="subtitle">Get Started</span>
                <h2>Ready To Get Started A <br> New Project ?</h2>
                <a href="#" class="btn btn--base pill" style="background-color: hsl(var(--base-two));">Know More <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            <div class="started-img">
                <img src="assets/images/get-started/cta_image_1 1.png">
            </div>
        </div>
    </div>
</section>