<div class="header-top">
    <div class="container">
        <div class="top-header-wrapper">    
            <div class="top-contact">
                <ul class="contact-list">
                    <li class="contact-list__item"> <span class="contact-list__item-icon"><i class="fas fa-envelope"></i></span><a href="mailto:" class="contact-list__link"> info@wstacks.com</a></li>
                </ul>
            </div> 
            <div class="top-button">
                <ul class="login-registration-list d-flex flex-wrap justify-content-between align-items-center">
                    <li class="login-registration-list__item"><span class="login-registration-list__icon"><i class="fas fa-user"></i></span><a href="login.html" class="login-registration-list__link"> Login</a></li>
                    <li class="login-registration-list__item"><a href="registration.html" class="login-registration-list__link"> Register</a></li>
                </ul>
                <div class="language-box">
                    <select class="select">
                        <option selected="">English</option>
                        <option value="1">Bangla</option>
                        <option value="2">French</option>
                        <option value="3">Spenich</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>