<!--========================== Header section Start ==========================-->
<div class="header-main-area">
    <div class="header" id="header">
        <div class="container position-relative">          
            <div class="row">
                <div class="header-wrapper">
                
                    <div class="logo-wrapper">
                        <a href="index.html" class="normal-logo"> <img src="assets/images/logo/logo.png" alt=""></a>
                        <a href="index.html" class="dark-logo hidden"> <img src="assets/images/logo/dark-logo.png" alt=""></a>
                    </div>
        
                    
                    <div class="menu-wrapper">    
                        <ul class="main-menu">
                            <li><a class='active' href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="faq.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li>
                                <div class="menu-search-wrap--search-icon">
                                    <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
                                    <i class="fa-solid fa-xmark close-hide-show"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="menu-right-wrapper">     
                        <ul>
                            <li>
                                <div class="menu-search-wrap">
                                    <div class="menu-search-wrap--search-icon">
                                        <i class="fa-solid fa-magnifying-glass header-search-icon"></i>
                                        <i class="fa-solid fa-xmark close-hide-show"></i>
                                    </div>
                                    
                                    <div class="search-box header-search header-search-hide-show">
                                        <input type="text" class="form--control" placeholder="Search...">
                                        <button type="submit" class="search-box__button"><i class="fas fa-search"></i></button>
                                    </div>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="light-dark-btn-wrap ms-1" id="light-dark-checkbox">
                                    <i class="fas fa-moon mon-icon"></i>
                                    <i class='fas fa-sun sun-icon'></i>
                                </div> 
                            </li>
                            <li><a class='btn btn--base' href="login.html"><i class="fas fa-user"></i> Login </a></li>
                            <li><i class="fa-solid fa-bars sidebar-menu-show-hide"></i></li>
                        </ul>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>

<!--========================== Header section End ==========================-->


 <!--========================== Sidebar mobile menu wrap Start ==========================-->
<div class="sidebar-menu-wrapper">
    <div class="top-close d-flex align-items-center justify-content-between">
        <div class="header-wrapper">
            <div class="logo-wrapper ms-3 mb-1">
                <div class="logo-wrapper">
                    <a href="index.html" class="normal-logo" id="normal-logo"> <img src="assets/images/logo/logo.png" alt=""></a>
                    <a href="index.html" class="dark-logo hidden" id="dark-logo"> <img src="assets/images/logo/dark-logo.png" alt=""></a>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-xmark close-hide-show"></i>
    </div>
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list__item active">
            <a href="dashboard.html" class="sidebar-menu-list__link"> Home</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="about.html" class="sidebar-menu-list__link">About Us</a>
        </li> 
        <li class="sidebar-menu-list__item ">
            <a href="services.html" class="sidebar-menu-list__link">Services </a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="blog.html" class="sidebar-menu-list__link">Blog</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="faq.html" class="sidebar-menu-list__link">Faq</a>
        </li>
        <li class="sidebar-menu-list__item">
            <a href="contact.html" class="sidebar-menu-list__link">Contact</a>
        </li>
        <li class="sidebar-menu-list__item ">
            <a class="btn btn--base mt-2 mb-2 ms-3" href="login.html"><i class="fas fa-user"></i> Login </a>
        </li>
    </ul>
</div>
<!--========================== Sidebar mobile menu wrap End ==========================-->