<!-- ==================== Product Start Here ==================== -->
<section class="products-area py-80 section-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-heading  text-center">
                    <h2 class="section-heading__title "> <span>showcase </span> our products.</h2>
                    <p class="section-heading__desc">Data transfer capacity has generally been inconsistent dispersed around the world, with expanding focus in the advanced age just 10 nations have facilitated .</p>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-1.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-2.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based  </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-3.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-4.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-5.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                    <div class="product__thumb">
                        <a href="product-details.html">
                            <img src="assets/images/products/product-img-6.png" alt="">
                        </a>
                    </div>
                    <div class="product__price-title">
                        <span><a href=""><i class="fa-brands fa-laravel"></i> PHP Scripts</a></span>
                        <span>2 Sales</span>
                        <span>$99</span>
                    </div>
                    <div class="product__title">
                       <a href="product-details.html">Propertee - Subscription Based </a>
                    </div>
                    <div class="product__rating-view">
                        <ul class="social-list">
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                            <li class="social-list__item"><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <a href="">Live Preview </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Product End Here ==================== -->