<!-- ==================== Service Start Here ==================== -->
<div class="servies-area">
    <div class="container">
        <div class="section-title text-center">
            <span class="subtitle">What we do</span>
            <h2>Offering Latest Services</h2>
        </div>
        <div class="slide-area text-center">
            <div class="single-servies">
                <span>01</span>
                <h3 class="title">Website Development</h3>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique</p>
                <a href="#">View Details</a>
            </div>
            <div class="single-servies text-center">
                <span>02</span>
                <h3 class="title">Website Development</h3>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique</p>
                <a href="#">View Details</a>
            </div>
            <div class="single-servies text-center">
                <span>03</span>
                <h3 class="title">Website Development</h3>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique</p>
                <a href="#">View Details</a>
            </div>
            <div class="single-servies text-center">
                <span>04</span>
                <h3 class="title">Website Development</h3>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique</p>
                <a href="#">View Details</a>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Service End Here ==================== -->