<div class="container">
    <div class="row">
        <div class="col-6 position-relative">
            <div class="square-shape-1 animate-y-axis">
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="item">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="round-shape-1 animate-y-axis"></div>
            <div class="octagon-shape-1 animate-zoom-inout"></div>
            <div class="star-shape-1 animate-zoom-fade"></div>
            <div class="triangle-shape-1 animate-rotate"></div>
        </div>
        <div class="col-6"></div>
        <div class="col-6"></div>
        <div class="col-6"></div>
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
</div>