<div class="dashboard_profile">
    <div class="dashboard_profile__details">
        <div class="dashboard_profile_wrap">
            <div class="profile_photo">
                <img src="assets/images/thumbs/team-01.jpg" alt="agent">
                <div class="photo_upload">
                    <label for="file_upload"><i class="fa-regular fa-image"></i></label>
                    <input id="file_upload" type="file" class="upload_file">
                </div>
            </div>
            <h3>Obaydulla</h3>
        </div>
        <ul class="sidebar-menu-list">
            <li class="sidebar-menu-list__item active">
                <a href="dashboard.html" class="sidebar-menu-list__link">
                <span class="icon"><i class="fa fa-tachometer-alt"></i></span>
                    Dashboard
                </a>
            </li>
            <li class="sidebar-menu-list__item ">
                <a href="change-password.html" class="sidebar-menu-list__link">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                Change Password
                </a>
            </li>
            <li class="sidebar-menu-list__item">
                <a href="user-profile.html" class="sidebar-menu-list__link">
                <span class="icon"><i class="fa-solid fa-user"></i></span>
                    Profile Setting
                </a>
            </li>
            <li class="sidebar-menu-list__item">
                <a href="index.html" class="sidebar-menu-list__link">
                <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</div>


