<table class="table table--responsive--lg">
    <thead>
        <tr>
            <th>Trx</th>
            <th>Transacted On</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Remaining Blance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--base"> Completed </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--primary"> Done </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--success"> Approved </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--info"> Completed </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--warning"> Completed </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--secondary"> Completed </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
        <tr>
            <td data-label="Trx">#DC457854</td>
            <td data-label="Transacted On">25 DEC 2022</td>
            <td data-label="Description">Transaction Done</td>
            <td data-label="Amount">$2000.00</td>
            <td data-label="Amount"><span class="badge badge--danger"> Cancel </span></td>
            <td data-label="Remaining Blance">$10,500</td>
        </tr>
    </tbody>
</table>