<!--========================== Testimonials Section Start ==========================-->
<section class="testimonials py-80 ">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 position-relative">
                <div class="square-shape-1 animate-y-axis">
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="section-heading ">
                    <span class="subtitle">Testimonials</span>
                    <h2 class="section-heading__title ">
                        What Clients Say About Us.
                    </h2>
                    <p class="section-heading__desc mb-30">Data transfer capacity has generally been inconsistent dispersed around the world, with expanding focus in the advanced age just 10 nations have facilitated .</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-slider">
                    
                    <div class="testimonails-card">
                        <div class="testimonial-item position-relative">
                           

                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                                <div class="testimonial-item__thumb">
                                    <img src="assets/images/1__testimonials/testimonials-01.png" alt="">
                                </div>

                                <div class="testimonial-item__content">
                                    <div class="testimonial-item__info">
                                        
                                        <div class="testimonial-item__details">
                                            <h5 class="testimonial-item__name"> Javicerillos</h5>
                                            <span class="testimonial-item__designation"> CEO & Founder</span>
                                        </div>
                                    </div>
                                    <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                                
                                
                                    <div class="testimonial-item__rating">
                                        <ul class="rating-list">
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                            
                                <div class="testimonial-item__thumb">
                                    <img src="assets/images/1__testimonials/testimonials-02.png" alt="">
                                </div>

                                <div class="testimonial-item__content">
                                    <div class="testimonial-item__info">
                                        
                                        <div class="testimonial-item__details">
                                            <h5 class="testimonial-item__name"> Javicerillos</h5>
                                            <span class="testimonial-item__designation"> CEO & Founder</span>
                                        </div>
                                    </div>
                                    <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                                
                                
                                    <div class="testimonial-item__rating">
                                        <ul class="rating-list">
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                            
                                <div class="testimonial-item__thumb">
                                    <img src="assets/images/1__testimonials/testimonials-03.png" alt="">
                                </div>

                                <div class="testimonial-item__content">
                                    <div class="testimonial-item__info">
                                        
                                        <div class="testimonial-item__details">
                                            <h5 class="testimonial-item__name"> Javicerillos</h5>
                                            <span class="testimonial-item__designation"> CEO & Founder</span>
                                        </div>
                                    </div>
                                    <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                                
                                
                                    <div class="testimonial-item__rating">
                                        <ul class="rating-list">
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="testimonails-card">
                        <div class="testimonial-item">
                            <div class="testimonial-item__quate"><i class="fa-solid fa-quote-right"></i></div>
                            
                                <div class="testimonial-item__thumb">
                                    <img src="assets/images/1__testimonials/testimonials-04.png" alt="">
                                </div>

                                <div class="testimonial-item__content">
                                    <div class="testimonial-item__info">
                                        
                                        <div class="testimonial-item__details">
                                            <h5 class="testimonial-item__name"> Javicerillos</h5>
                                            <span class="testimonial-item__designation"> CEO & Founder</span>
                                        </div>
                                    </div>
                                    <p class="testimonial-item__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur culpa magni, recusandae beatae provident nesciunt, quam corrupti rerum quod voluptatibus alias id!</p>
                                
                                
                                    <div class="testimonial-item__rating">
                                        <ul class="rating-list">
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                            <li class="rating-list__item"><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================== Testimonials Section End ==========================-->