<!-- ==================== Why Choose us Start Here ==================== -->
<section class="why-choose-area py-80">
    <div class="why-choose-bg animate-zoom-fade"></div>
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-7">
                
                <div class="section-heading mb-4">
                    <span class="subtitle">why choose us</span>
                        <h2 class="section-heading__title">
                        Our Digital Agency Delivers Extraordinary Business Value.
                        </h2>
                        <p class="section-heading__desc mb-3">Data transfer capacity has generally been inconsistent dispersed around the world, with expanding focus in the advanced age. Generally just 10 nations
                            have facilitated 70-75% of the worldwide telecom limit.</p>
                    </div>
                <div class="why-choose-us__content">
                    <div class="why-choose-us__topic">
                        <div class="item">
                            <div class="why-title-cont d-flex align-items-center">
                                <i class="fa-solid fa-users"></i>
                                <div class="content ms-3">
                                    <h4>Fresh Business Thinking</h4>
                                    <p>Revamp your business strategy with fresh thinking that drives innovation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="why-title-cont d-flex align-items-center">
                                <i class="fa-solid fa-users"></i>
                                <div class="content ms-3">
                                    <h4>Risk-Free Satisfaction</h4>
                                    <p>Revamp your business strategy with fresh thinking that drives innovation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="why-title-cont d-flex align-items-center">
                                <i class="fa-solid fa-users"></i>
                                <div class="content ms-3">
                                    <h4>24/7 Helpdesk Availability</h4>
                                    <p>Revamp your business strategy with fresh thinking that drives innovation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="why-choose-us__thumb">
                    <img class="img-1" src="assets/images/why-choose/why-choose-img.png" alt="image">
                    <div class="popup-vide-wrap">
                        <div class="video-main">
                            <div class="promo-video">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div> 
                            </div>
                            <a class="play-video popup_video" data-fancybox="" href="https://vimeo.com/767046013">
                                <span class="play-btn"> <i class="fa fa-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ==================== Why Choose us End Here ==================== -->