/* ================== Footer Area ======================= */

.footer-area {
    background-color: hsl(var(--black)/.9);
    overflow: hidden;
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        padding: 40px 0;
        & > div{
            width: 23%;
            @include md-screen {
                width: 45%;
                margin-bottom: 20px;
            }
        }
        .title {
            color: hsl(var(--white));
            margin-bottom: 22px;
            font-weight: 700;
            line-height: 25px;
            font-size: 21px;
        }
        h5{
            color: hsl(var(--white)/.6);
            font-size: 16px;
        }
        .find-us{
            .location{
                color: hsl(var(--base-two));
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        .news-letter{
            position: relative;
            .input-text {
                padding: 20px;
                background-color: hsl(var(--black)/.5);
                border: none;
                color: hsl(var(--white));
                border-radius: 30px;
                width: 300px;
            }
            .go {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: hsl(var(--base-two));
                color: hsl(var(--black));
                position: absolute;
                top: 54px;
                right: 10px;
                line-height: 50px;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid hsl(var(--white)/.2);
        padding: 15px 0;
        position: relative;
        h4{
            color: hsl(var(--white)/.2);
            font-size: 16px;
            margin-left: 40px;
            font-weight: 700;
        }
        .up {
            font-size: 25px;
            background-color: hsl(var(--black)/.5);
            width: 70px;
            height: 41px;
            border-radius: 40px 40px 0 0;
            color: hsl(var(--white));
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 50%;
            bottom: 0;
            cursor: pointer;
        }
    }
}

