/*============ Header Start Here =======================*/

.header-area {
	position: absolute; 
    width: 100%;
	z-index: 999;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;      
        padding: 23px 0;  
        .mobail-menu {
            display: none;
            .main-mobail-menu{
                width: 300px;
                background: linear-gradient(#ECC45D 70%, #5355DF );
                position: fixed;
                right: -300px;
                top: 0;
                padding: 39px;
                height: 100vh;
                transition: all ease-in-out .5s;
                &.show {
                    right: 0;
                }
            }
            @include md-screen {
                display: block;
            }
            li {
                margin: 12px 0;
            }
            .select-lan {
                margin-bottom: 22px;
            }
            i {
                color: hsl(var(--base));
                font-size: 20px;
                cursor: pointer;
            }
            .close-btn {
                position: absolute;
                top: 3%;
                left: 19px;
            }
        }
        .menu-settings {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include md-screen {
                display: none;
            }
            .main-menu {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 35px;
                    li {
                        margin-right: 38px;
                        @include lg-screen {
                            margin-right: 15px;
                        }
                        a{
                            font-size: 16px;
                            font-weight: 600;
                            color: hsl(var(--black));
                            &:hover{
                                color: hsl(var(--base));
                            }                        }
                    }
                }    
            }
            .select-lan {
                margin-right: 16px;
                border: none;
                background: transparent;
                font-size: 16px;
                font-weight: 600;
            }
            .fa-solid.fa-globe {
                background: hsl(var(--base));
                color: #fff;
                padding: 6px;
                border-radius: 50%;
                font-size: 14px;
                margin-right: 4px;
            }
        }
    }
}

.select-lan {
    margin-right: 16px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
}