/*====================== About Section====================*/
.about-section {
    overflow: hidden;
    background: hsl(var(--base)/0.1);
    .square-shape-1  {
        position: absolute;
        left: -15px;
        top: 40%;
        @include msm-screen {
           display: none;
        }
        .item {
            margin-top: -7px;
            transform: rotate(45deg);
            transform-origin: left;
        }
    }
}
.about-thumb {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    .shape {
        position: absolute;
        height: 650px;
        width: 650px;
        background-color: hsl(var(--base-two));
        border-radius: 50%;
        z-index: -1;
        top: 71%;
        left: -53px;
    }
    &__inner {
       img {
        border-radius: var(--border-radius);
        width: 100%;
       }
       img.img-1 {
        width: 400px;
        position: absolute;
        right: -9px;
        top: 66%;
        height: 300px;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
    }
    .about-contact {
        border-radius: var(--border-radius);
        background: hsl(var(--white));
        padding: 25px;
        position: absolute;
        bottom: -63px;
        left: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        i {
            color: hsl(var(--base));
            font-size: 24px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            line-height: 50px;
            text-align: center;
            background: hsl(var(--base)/.2);
        }
        h4 {
            color: hsl(var(--black));
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 3px;
        }
        a {
            color: hsl(var(--black));
            font-weight: 400;
            font-size: 14px;
            transition: all .4s ease-in-out;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}



.about-right-content {
    padding-left: 20px;
    .about-service {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li {
            padding-bottom: 10px;
            position: relative;
            padding-left: 30px;
            font-size: 16px;
            margin-left: 10px;
            font-weight: 700;
            width: 48%;
            margin-bottom: 10px;
            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }
            i {
                color: hsl(var(--base-two));
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 50%;
                text-align: center;
                font-size: 18px;
                display: inline-block;
                position: absolute;
                top: 2px;
                left: 0;
            }
            h5 {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
}





@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
        100% {
            transform: rotate(360deg);
    }
}
@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
        100% {
            transform: rotate(-360deg);
    }
}



.about-bottom {
    display: flex;
    flex-wrap: wrap;
    .founder {
    display: flex;
    flex-wrap: wrap;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
        .founder-text {
            h4 {
                margin-bottom: 0;
                font-weight: 700;
                font-size: 17px;
            }
        }
    }
}
