/*============= Banner area start  =============*/

.banner-area {
    background-image: url(../images/banner/BG.png);
    height: 800px;
    .this-bg {
        max-width: 46%;
        height: 700px;
        top: 0;
        left: 54%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    .banner-content-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 195px;
        .section-title{
            span{
                line-height: 24px;
                font-size: 16px;
                letter-spacing: 1px;
                margin-left: 27px;
                position: relative;
                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: hsl(var(--base));
                    position: absolute;
                    rotate: 45deg;
                    top: 2px;
                    left: -28px;
                }
                &::after {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background-color: hsl(var(--base-two));
                    position: absolute;
                    rotate: 45deg;
                    top: 2px;
                    left: -21px;
                    z-index: -1;
                }
            }
            h1{
                font-weight: 800;
                margin-bottom: 30px;
                font-size: 70px;
                line-height: 104px;
                color: hsl(var(--black));
            }
            p {
                line-height: 24px;
                font-size: 16px;
                width: 74%;
                margin-bottom: 47px;
            }
            a {
                margin-right: 20px;
                i {
                    rotate: -45deg;
                    margin-left: 5px;
                }
            }
        }
    }
}