/*============= Banner area start  =============*/

.banner-area {
	background-image: url(../images/banner/BG.png);
	height: 800px;
	background: hsl(var(--base)/0.1);
    .this-bg {
        height: 700px;
        top: 0;
        right: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    .banner-content-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 155px;
        @include sm-screen {
            margin-top: 130px;
        }
        @include msm-screen {
            text-align: center;
        }
        p {
            @include msm-screen {
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .img {
            @include msm-screen {
                display: none;
            }
        }
    }
}

.section-title{
    .subtitle{
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 27px;
        position: relative;
        @include lg-screen {
            font-size: 14px;
        }
        @include sm-screen {
            font-size: 12px;
        }
        @include msm-screen {
            font-size: 11px;
        }
        &::before {
            content: "";
            width: 15px;
            height: 15px;
            background-color: hsl(var(--base));
            position: absolute;
            rotate: 45deg;
            top: 2px;
            left: -28px;
            @include lg-screen {
                width: 12px;
                height: 12px;
            }
            @include sm-screen {
                width: 10px;
                height: 10px;
            }
            @include msm-screen {
                width: 8px;
                height: 8px;
                left: -21px;
            }
        }
        &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-color: hsl(var(--base-two));
            position: absolute;
            rotate: 45deg;
            top: 2px;
            left: -21px;
            z-index: -1;
            @include lg-screen {
                width: 12px;
                height: 12px;
            }
            @include sm-screen {
                height: 10px;
                width: 10px;
            }
            @include msm-screen {
                height: 8px;
                width: 8px;
                left: -16px;
            }
        }
    }
    h1{
        font-weight: 800;
        margin-bottom: 30px;
        font-size: 70px;
        line-height: 104px;
        color: hsl(var(--black));
        @include lg-screen {
            font-size: 42px;
            line-height: 54px;
            margin-top: 12px;
            margin-bottom: 23px;
        }
        @include sm-screen {
            font-size: 38px;
            line-height: 52px;
        }
        @include msm-screen {
            font-size: 32px;
            line-height: 40px;
        }

    }
    h2{
        font-size: 50px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 30px;
        @include lg-screen {
            font-size: 38px;
        }
        @include md-screen {
            font-size: 32px;
        }
        @include msm-screen {
            font-size: 26px;
        }
    }
    p {
        line-height: 24px;
        font-size: 16px;
        width: 74%;
        margin-bottom: 47px;
        @include lg-screen {
            font-size: 14px;
            margin-bottom: 33px;
        }
        @include sm-screen {
            font-size: 12px;
            line-height: 17px;
        }
        @include msm-screen {
            font-size: 11px;
        }
    }
    a {
        margin-right: 20px;
        margin-bottom: 10px;
        i {
            rotate: -45deg;
            margin-left: 5px;
        }
    }
}