/* =================== News area Here =================== */
.news-area {
    padding-bottom: 70px;
}
.news-full {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 62px;
    @include sm-screen {
        display: block;
        justify-content: center;
    }
    .single-news {
        width: 47%;
        background: #ccc;
        padding: 26px;
        border-radius: 39px;
        @include sm-screen {
            width: 100%;
            margin-bottom: 30px;
        }
        .tag-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;
            .tag {
                background-color: hsl(var(--base-two));
                width: 55px;
                height: 30px;
                border-radius: 30px;
                line-height: 25px;
            }
            h3 {
                font-size: 16px;
                line-height: 25px;
                text-align: center;
            }
        }
        h2{
            font-size: 24px;
            margin-top: 20px;
        }
        .profile {
            display: flex;
            justify-content: start;
            align-items: center;
            img{
                width: 65px;
            }
        }
    }
}