/*====================== Servies Area ====================*/

.servies-area {
	padding: 90px 0;
    @include msm-screen {
        padding: 50px 0;
    }
    .slide-area {
        margin-top: 40px;
        .single-servies {
            background: transparent;
            border: 3px solid hsl(var(--black)/0.1);
            padding: 30px 35px;
            border-radius: 10px;
            span{
                padding: 10px 20px;
                line-height: 65px;
                font-size: 50px;
                font-weight: 700;
                background-color: hsl(var(--base));
                color: hsl(var(--white));
                margin-bottom: 20px;
                display: inline-block;
                border-radius: 10px;
            }
            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
            }
            p{
                font-size: 15px;
                line-height: 24px;
                padding-bottom: 20px;
                border-bottom: 2px dashed hsl(var(--black));
                margin-bottom: 20px;
            }

            a{
                color: hsl(var(--base));
                font-size: 15px;
            }
        }
    }
}

